<style>
    #main_container{
        display:flex;
        align-items:center;
        justify-content:flex-start;
    }
    canvas{
        z-index:-1;
        position:fixed;
        top:0;
        left:0;
    }
    #stars_anim{
        background-color:black;
        display:none;
    }
    #main_section{
        margin-left:5%;
        max-width:500px;
        color:white;
    }
</style>
<canvas width="1920" height="1080" class="background_canvas" id="modulo_anim"></canvas>
<canvas width="1920" height="1080" class="background_canvas" id="stars_anim"></canvas>

<div id="main_container">
    <section id="main_section">
        <h1>Developpeur web</h1>
        <p id="presentation_text">
                Lorem ipsum dolor sit amet, consectetur adi
                piscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        </p>
        <button id="next_anim">Change</button> <!--TODO: put icon-->
    </section>
</div>
<script>
/*RESIZE ELEMS TO WINDOW SIZE*/
$("#main_container").css("height", window.innerHeight-(window.innerHeight*(5/100)))
$(".background_canvas").attr("height",window.innerHeight)
$(window).resize(function(){
    //if (window.innerHeight > 1000 ){ //for text dont go below window
        $("#main_container").css("height", window.innerHeight-(window.innerHeight*(5/100)))
        $(".background_canvas").attr("height",window.innerHeigh)
    //}
})
</script>

<%=# javascript_include_tag "home_main_anim.js", "data-turbolinks-track" => true  
%>
