<style>
    #main_container{
        display:flex;
        align-items:center;
        justify-content:flex-start;
    }
    canvas{
        z-index:-1;
        position:fixed;
        top:0;
        left:0;
    }
    #modulo_anim{
        background-color:black;
    }
    #stars_anim{
        background-color:black;
        display:none;
    }
    #main_section{
        margin-left:5%;
        max-width:500px;
        color:white;
    }

</style>
<canvas width="1920" height="1080" class="background_canvas" id="modulo_anim"></canvas>
<canvas width="1920" height="1080" class="background_canvas" id="stars_anim"></canvas>

<div id="main_container">
    <section id="main_section">
        <h1>Developpeur web</h1>
        <p id="presentation_text">
                Lorem ipsum dolor sit amet, consectetur adi
                piscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        </p>
        <div id="modulo_anim_control">
            <label for="modulo_points_number" id="modulo_points_number_label">Nombre de lignes : <span id="modulo_display_points_number"></span></label>
            <input type="range" id="modulo_points_number" min="1" max="1000" value="150" step="1" class="modulo_anim_control"/>
            <label for="modulo_speed" id="modulo_speed_label">Vitesse : <span id="modulo_display_speed"></span></label>
            <input type="range" id="modulo_speed" min="0" max="0.03" value="0.005" step="0.001" class="modulo_anim_control"/>
        </div>
        <button id="next_anim">Change</button> <!--TODO: put icon-->
    </section>
</div>

<script>
/*RESIZE ELEMS TO WINDOW SIZE*/
$("#main_container").css("height", window.innerHeight-(window.innerHeight*(5/100)))
$(".background_canvas").attr("height",window.innerHeight)
$(window).resize(function(){
    //if (window.innerHeight > 1000 ){ //for text dont go below window
        $("#main_container").css("height", window.innerHeight-(window.innerHeight*(5/100)))
        $(".background_canvas").attr("height",window.innerHeigh)
    //}
})
</script>

<%=# javascript_include_tag "home_main_anim.js", "data-turbolinks-track" => true  
%>
