<a href=<%=url_for(controller:"games", action:"chess")%>>chess</a><br/>
<a href=<%=url_for(controller:"games", action:"phaser_test")%>>phaser</a><br/>
<a href=<%=url_for(controller:"games", action:"donkey_kong_like")%>>DK like</a><br/>
<a href=<%=url_for(controller:"games", action:"trpg")%>>trpg</a>