<%if session[:user_pseudo].nil?%>
    <%=render "partials/unconnected_user_home"%>
    
<%else%>
<!--CONNECTED USER ONLY-->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Hello, bienvenu sur ichizo lablo !</h1>
            </div>
            <div class="col-12">
                <a href=<%=url_for(controller:"games", action:"trpg_rooms")%>>TRPG</a><br/>
            </div>
        </div>
    </div>
    

<%end%>

