/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
    margin: 0;
    box-sizing: border-box;
}
.margin-auto{
    margin:auto;
}

/*INPUT TYPE RANGE*/
/*TODO: do for mozilla*/
input[type="range"]{
    width:100%;
    -webkit-appearance: none;     /*nécessaire pour Chrome */
    margin-bottom:2rem;
}
input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height:5px;
    background-color:white;
}
input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    border: 1px solid white;
    box-shadow:inset 5em 1em pink;
    display:block;
    width:25px;
    height:25px;
    position:relative;
    bottom:10px;
    border-radius:20px;

}